// Color
// -------------------------
$green           : #78ae00 !default;
$green-dark      : #1cb936 !default;
$white           : #fff !default;
$black           : #000 !default;
$nocolor         : transparent !default;
$yellow          : #fdff39 !default;
$yellow-dark     : #f2cb2e !default;
$red             : #ff003a !default;
$red-dark        : #ce4f3e !default;
$orange          : #e93434 !default;
$blue            : #177bd1 !default;
$dark            : #093452 !default;
$dark-better     : #0c304a !default;
$dark            : #121B1F !default;
$cyan            : #01a3d4 !default;
$turquoise       : #9c619c !default;
$brown-light	 : #eb5454 !default; //color primary skin fashion (skin default)
$gray-text       : #3b3b3b !default;
$white-smoke     : #fafafa !default;
$gray-smoke      : #a4a4a4 !default;

//Color header cd
$cd-topbar-bg	 : #3B424C !default;
$border-form-color: #edeff7 !default;
$border-input-form: #dddddd !default;

// Align
// -------------------------
$align-center    : center !important;
$align-left      : left !important;
$align-right     : right !important;

//Font
//--------------------------
$font-family-second 	: "Open Sans" !default;
$font-family-three      : "Open Sans" !default;
$font-weight-base       : 400 !default;
$icon-font-family       : "Flaticon" !default;

// Text transform
// -------------------------
$text-none       : none !important;
$text-uppercase  : uppercase !important;
$text-capitalize : capitalize !important;
$text-lowercase  : lowercase !important;
$text-inherit    : inherit !important;

// Theme Margin, Padding
// -------------------------
$theme-margin    : 30px !default;
$theme-padding   : 30px !default;
// border
$border-color    : #eeeeee !default;

// Themes colors
// -------------------------
$theme-color               : #2441e7 !default;
$theme-color-second  	   : #ff1053 !default;
$theme-color-default       : $theme-color !default;
$theme-color-secondary     : #181818 !default;
$theme-color-third  	   : #54b551 !default;
$text-second               : #4f4f4f !default;
$theme-color-dark          : darken($theme-color,30%) !default;

// Social background
// -------------------------
$facebook-bg               : #3b5998 !default;
$twitter-bg                : #00acee !default;
$linkedin-bg               : #0e76a8 !default;
$tumblr-bg                 : #34526f !default;
$google-bg                 : #db4a39 !default;
$pinterest-bg              : #c8232c !default;